@import url("https://use.typekit.net/pxr7ylh.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #C7C6C5;
}

html {
  scroll-behavior: smooth;
}

nav {
  padding: 0.5em 0 0.5em 0;
  display: flex;
  justify-content: space-between;
  font-family: pt-mono, monospace;
  font-size: 1rem;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
}

.navbar2 {
  position: fixed;
  bottom: 1.2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  border: 1px solid #3D3D3D;
  padding: 0.5em;
  gap: 2rem;
  display: flex;
  justify-content: space-between;
  font-family: pt-mono, monospace;
  font-size: 0.8rem;
  
}

a:link{
  color: #3D3D3D;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #3D3D3D;
  text-decoration: none;
}

.divider {
  background-color:#3D3D3D;
  height: 1px;
  width: 100; 
}

.divider2 {
  background-color:#3D3D3D;
  height: 0.5px;
  width: 30rem; 
  margin: 1rem auto;
}

body {
  font-family: pt-mono, monospace;
  font-size: 0.8em;
}

header {
  padding: 3em;
}

main {
  width: 100;
  margin: 0 1rem 0 1rem;
}

.intro {
  width: 30rem;
  margin: 7rem auto;
}

h1 {
  font-family: pt-mono, monospace;
  font-weight: 400;
  color:#3D3D3D;
}

h2 {
  font-family: pt-mono, monospace;
  color:#3D3D3D;
  font-weight: 400;
  font-size: 2rem;
}

h3 {
    font-family: pt-mono, monospace;
    color: #3D3D3D;
    font-weight: 400;
  }

p {
  color:#3D3D3D;
  font-size: 0.9rem;
}

.work {
  text-align: center;
  margin: 0.5em auto;
}

.project {
  width: 30rem;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  padding: 3em;
  text-align: center;
}

.projectinfo {
    margin: 2em 0 4em 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.left {
flex-basis: 48%;
flex-grow: 1;
}

.right {
flex-basis: 48%;
flex-grow: 1;
min-width: 18rem;
}

.projimg {
    width: 100%;
    max-height: 90vh;
    object-fit: cover;
    border-radius: 15px;
    border: 1px solid #3D3D3D;
    margin: 0.5em 0;
}

.project-image {
  width: 100%;
}

.container {
  display: flex;
  margin: 1em 0;
  gap: 1rem;
  flex-wrap: wrap;
}


